body {
    background-color: #1a1a1a;
    color: #ccc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

.notification {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-bottom: 10px; /* Espaço entre notificações */
    position: relative; /* Para posicionar a barra de progresso */
    cursor: pointer; /* Indica que a notificação é clicável */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.notification.urgent {
    background-color: #e74c3c; /* Vermelho para Urgente */
}

.notification.success {
    background-color: #2ecc71; /* Verde para Sucesso */
    color: #000; /* Texto preto para melhor contraste */
}

.notification.error {
    background-color: #e74c3c; /* Vermelho para Erro */
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: #fff;
    width: 100%;
    animation: progress 3s linear forwards;
}

@keyframes progress {
    from { width: 100%; }
    to { width: 0; }
}

#notificationsContainer {
    position: fixed;
    bottom: 60px; /* Aumenta a distância do rodapé */
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinha as notificações à direita */
}